header {
  width: 100vw;
}
.container-header {
  background-color: #5964e0;
  border-radius: 0px 0px 0px 100px;
  height: 162px;
  background-image: url(./img.svg/bg-pattern-header.svg);
  background-position: center;
  width: 100vw;

  .header-title {
    display: flex;
    width: 1096px;
    justify-content: space-between;

    svg {
      justify-content: flex-start;
    }

    .logo-text {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 115px;
      // height: 32px;
      margin-bottom: 84px;
      margin-top: 44px;

      h1 {
        color: white;
      }
    }

    .empty {
      display: flex;
      flex: 2;
    }

    .theme-buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 84px;
      margin-top: 45px;
      gap: 15px;

      .toggle {
        width: 48px;
        height: 18px;
        background-color: #FFF;
        border-radius: 20px;
        cursor: pointer;
        position: relative;
      }

      .toggle::before {
        position: absolute;
        content: "";
        width: 16px; 
        height: 16px;
        background-color: #5964e0;
        border-radius: 8px;
        margin: 1px;
        transition: 0.2s;

      }

      input:checked + .toggle {
        background-color: #121721;
      }

      input:checked + .toggle::before {
        transform: translateX(30px);
        animation-name: slide;
      }

      input {
        display: none;
      }

      @keyframes slide {
        0% {
          width: 16px;
          height: 16px;
        }
        50%{
          margin: 5px;
          width: 60px;
          height: 14px;
        }
      }


      .material-symbols-outlined {
        color: white;
      }
    }
  }
}

@media (max-width: 750px) {
  .container-header {
    border-bottom-left-radius: 0px;
    width: 100%;
    }
}